#container {
    width: 1000px;
    margin: auto;
    position: relative;
    text-align: center;
    font-family: Verdana, sans-serif;
}

#letter {
    width: 150px;
}

#letter, #button {
    outline: none;
}

#word-container {
    font-size: 40px;
}

#word-container, #img-container {
    margin-top: 50px;
}

#img-container {
    font-size: 45px;
}